
POSTGRES_USER=usuario_postgres
POSTGRES_PASSWORD=senha_postgres
POSTGRES_DB=admin_db 

POSTGRES_USER_AIRFLOW=usuario_airflow
POSTGRES_PASSWORD_AIRFLOW=senha_airflow
POSTGRES_DB_AIRFLOW=airflow_meta


POSTGRES_USER_SUPERSET=usuario_superset
POSTGRES_PASSWORD_SUPERSET=senha_superset
POSTGRES_DB_SUPERSET=superset_meta

POSTGRES_USER_ANALYTICS=usuario_dw
POSTGRES_PASSWORD_ANALYTICS=usuario_dw
POSTGRES_DB_ANALYTICS=analytics

AIRFLOW_UID=50001
AIRFLOW_GID=0

ADMIN_USER=admin
ADMIN_PASSWORD=admin
ADMIN_EMAIL=admin@example.com