# .env.example

# Configurações do POSTGRES
# Usuário e senha "master" do Postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=admin_db 

# Credenciais para o metastore do AIRFLOW
POSTGRES_USER_AIRFLOW=airflow_user
POSTGRES_PASSWORD_AIRFLOW=airflow_pass
POSTGRES_DB_AIRFLOW=airflow_meta



# Credenciais para o metastore do SUPERSET
POSTGRES_USER_SUPERSET=superset_user
POSTGRES_PASSWORD_SUPERSET=superset_pass
POSTGRES_DB_SUPERSET=superset_meta


SUPERSET_USERNAME=admin
SUPERSET_PASSWORD=admin
SUPERSET_FIRSTNAME=Admin
SUPERSET_LASTNAME=User
SUPERSET_EMAIL=admin@example.com


POSTGRES_USER_ANALYTICS=analytics_user
POSTGRES_PASSWORD_ANALYTICS=analytics_pass
POSTGRES_DB_ANALYTICS=analytics


AIRFLOW_UID=50001
AIRFLOW_GID=0


ADMIN_USER=admin
ADMIN_PASSWORD=admin
ADMIN_EMAIL=admin@example.com